html {
    display: table;
    color:#ffffff;
    background: #94e79b;
    font-family: sans-serif;

    vertical-align: middle;
    display: inline;
    text-align: center;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, h3{
    margin: 0.5%;
}

div#selection, div#header{
    height: 3%;
}
div#selection{
    padding-top: 3%;
}



div#contactUs{
    padding-top: 5%;
}

#mainMap{
    height: 85%;
    width: 100%;
}

.popupChart {
    width: 500px;
    height: 200px;
}